@using bookstore.Entities;
@model Author

@{
    ViewData["Title"] = "Add a new author";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new author</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-1">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger">

                    </div>
                    <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </form>
                
                
            </div>
        </div>
    </div>

</div>