@model BooksViewModel

@{
    ViewData["Title"] = "Delete book";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete for @Model.Book.Title</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-1">
                <div class="form-group">
                    <label asp-for="Book.Title" class="control-label"></label>
                    <input asp-for="Book.Title" class="form-control" readonly />
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.ImageURL" class="control-label"></label>
                    <input asp-for="Book.ImageURL" class="form-control" readonly />
                    <span asp-validation-for="Book.ImageURL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Price" class="control-label"></label>
                    <input asp-for="Book.Price" class="form-control" readonly />
                    <span asp-validation-for="Book.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.YearOfPublication" class="control-label"></label>
                    <input asp-for="Book.YearOfPublication" class="form-control" readonly/>
                    <span asp-validation-for="Book.YearOfPublication" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.FullName" class="control-label"></label>
                    <input asp-for="Author.FullName" class="form-control" readonly />
                    <span asp-validation-for="Author.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BookGenre.Name" class="control-label"></label>
                    <input asp-for="BookGenre.Name" class="form-control" readonly/>
                    <span asp-validation-for="BookGenre.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Book.Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-end" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                </div>
            </div>
        </div>
    </div>

</div>