@model UsersViewModel

@{
    ViewData["Title"] = "Update user";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update User @Model.ApplicationUser.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-1">
                 <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ApplicationUser.FullName" class="control-label"></label>
                            <input asp-for="ApplicationUser.FullName" class="form-control" />
                            <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ApplicationUser.UserName" class="control-label"></label>
                            <input asp-for="ApplicationUser.UserName" class="form-control" />
                            <span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ApplicationUser.Email" class="control-label"></label>
                            <input asp-for="ApplicationUser.Email" class="form-control" />
                            <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ApplicationUser.PhoneNumber" class="control-label"></label>
                            <input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
                            <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ApplicationUser.EmailConfirmed" class="control-label"></label>
                            <input type="checkbox" asp-for="ApplicationUser.EmailConfirmed" class="form-check" />
                            <span asp-validation-for="ApplicationUser.EmailConfirmed" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-outline-success float-end" />
                             @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                            <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                            }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>