@model string;


    <div style="position:fixed; right: 25px; bottom:70px" class="text-white">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success" title="Add New">
            <i class="bi bi-plus-circle"></i>Add New
        </a>
    </div>
