<div class="row text-center">
    <div>
        <h1 class="text-info">Not Found</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Books" asp-action="Index">Home page</a>
    </div>
    
</div>
